html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* .nav-link
{
    text-transform: uppercase;
}

ul 
{
    padding-right: 200px;
}  */

nav 
{
    box-shadow: 0px 0px 5px black;
}

.required-star
{
    color: darkred;
    font-weight: bold;
}

.delete-button {
    background-color: white;
    border: 1px solid white;
    color: #eee;
}

.input-extension
{
    background-color: white;
    border: 1px solid white;
    width: 100%;
}

.btn-save
{
    padding: 5px 10px;
    font-size: 20px;
    border: 1px solid darkblue;
    border-radius: 5px;
    background-color: white;
    color: darkblue;
}

.btn-add
{
    padding: 5px 10px;
    font-size: 20px;
    border: 1px solid darkgreen;
    border-radius: 5px;
    background-color: white;
    color: darkgreen;
}

.btn-add2
{
    padding: 5px 10px;
    font-size: 18px;
    border: 0px solid darkgreen;
    background-color: white;
    color: darkgreen;
}

a 
{
    text-decoration: none;
    color: #2980b9;
}

a:hover
{
    color: #3498db;
}